<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= student.gender %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= student.grade %>
  </p>

  <p>
    <strong>Attended:</strong>
    <%= student.attended %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= student.teacher_id %>
  </p>

</div>
