<div id="<%= dom_id teacher %>">
  <p>
    <strong>Name:</strong>
    <%= teacher.name %>
  </p>

  <p>
    <strong>School:</strong>
    <%= teacher.school %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= teacher.subject %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= teacher.contact %>
  </p>

  <p>
    <strong>Visited:</strong>
    <%= teacher.visited %>
  </p>

</div>
